@page
@using Bp.Localization
@using Microsoft.Extensions.Localization
@model Bp.Web.Pages.Articles.ArticlesModel
@inject IStringLocalizer<BpResource> L
@section scripts
{
    <abp-script src="/libs/jquery/jquery.js" />
    <abp-script src="/libs/datatables.net/js/jquery.dataTables.js" />
    <abp-script src="/libs/datatables.net-buttons/js/buttons.dataTables.min.js" />
    <abp-script src="/libs/datatables.net-jszip/js/jszip.min.js" />
    <abp-script src="/libs/datatables.net-buttons.print/js/buttons.print.min.js" />
    <abp-script src="/libs/datatables.net-buttons.html5/js/buttons.html5.min.js" />

    <abp-script src="/Pages/Articles/Index.js" />
}
@section styles {
    <abp-style src="/libs/datatables.net-buttons/css/buttons.dataTables.min.css" />
}

<h1>Articles</h1>
<abp-card>
    <abp-card-header>@L["Articles"]</abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ArticlesTable"></abp-table>
    </abp-card-body>

</abp-card>